*
{
    margin: 0;
    padding: 0;
}

html
{
    background: #272121;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    align-items: start;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    /* text-transform: uppercase; */
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    /* background: #76c5e40e */
}

.section1
{
    background-image: linear-gradient(to bottom right, #2d3882, #00aeef);
}

section:nth-child(odd)
{
    justify-content: start;
}